name: .NET CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    # REQUIRED for MAUI on GitHub Linux agents
    - name: Install MAUI workloads
      run: |
        dotnet workload install maui
        dotnet workload install maui-android

    - name: Restore dependencies
      run: dotnet restore

    - name: Build Maui project
      run: dotnet build --configuration Release --no-restore

    - name: Run tests
      run: dotnet test --configuration Release --no-build --verbosity normal
